*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    row-gap: 2vw;
}
.sub{
    font-size: 100px;
    text-align: center;
    color: #ababab;
    font-family: "Raleway", sans-serif;
 font-weight: 200;
}
.sub:hover{
    /* font-size: 120px; */
    text-align: center;
    color: #494949;
    transition: all 0.3s;
    /* transition: all 0.3s; */
}
div >h1{
    font-size: 120px;
    text-align: center;
    color: black;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
}
.header{
    display: flex;
    justify-content: center;
}
#special{
    color: #c95245;
}

/* main */

.main{
    /* border: 1px solid red; */
    width: 80vw;
    margin: auto;
    height: fit-content;
    display: flex;
    justify-content: center;
    row-gap: 3vw;
    column-gap: 3vw;
    flex-wrap: wrap;
    
}
.days{
    /* border: 1px solid black; */
    width: fit-content;
    padding: 20px;
    height: fit-content;
    background-color: #ff6857;
    color: white;
    border-radius: 1vw;
    display: flex;
    flex-direction: column;
    row-gap: 0.7vw;
    align-items: center;
    
}

.days > h2{
    text-align: center;
    margin-top: 1vw;
    font-size: 48px;
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    color: #d3f240;
}
.days:hover{
    transition: all 0.3s;
    background: black;
    color: rgb(255, 98, 98);
    
}



/* content in the box tim location subjec */

li{
    display: flex;
    flex-direction: row;
    column-gap: 1vw;
    list-style: none;
    font-family: system-ui;
    justify-content: space-between;
}
ul{
    display: flex;
    flex-direction: column;
    row-gap: 1vw;
}

p{
    font-size: 25px;
}

